
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.tabbrowser-strip {
  padding-bottom: 3px;
  border-bottom: 2px solid;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
}

tabpanels {
  -moz-appearance: none;
}

.tabbrowser-tabs {
  padding-top: 1px;
}

.tabs-left,
.tabs-right {
  width: 3px;
}

.tab-icon {
  margin-top: 1px;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

tab[busy] > .tab-icon {
  list-style-image: url("chrome://navigator/skin/tab-loading.gif");
}

/* ::::: close button ::::: */

.tabs-closebutton {
  margin: 2px 3px 2px 3px;
  list-style-image: url("chrome://navigator/skin/tab-close.png");
	-moz-image-region: rect(0px, 16px, 14px, 0px);
}
.tabs-closebutton:hover {
  -moz-image-region: rect(0px, 32px, 14px, 16px);
}
.tabs-closebutton > .toolbarbutton-icon {
  margin: 0;
}

.tabs-newbutton {
  margin: 2px 3px 2px 3px;
  list-style-image: url("chrome://navigator/skin/tab-new.png");
	-moz-image-region: rect(0px, 16px, 14px, 0px);
}
.tabs-newbutton:hover {
  -moz-image-region: rect(0px, 32px, 14px, 16px);
}