#aboutDialog {
  padding: 0px 0px 10px 0px;
}

#clientBox {
  background-image: url("chrome://browser/skin/about.png");
  background-repeat: no-repeat;
  padding-top: 240px;
  background-color: #fafac6;
}

#brandName {
  font-weight: bold;
  font-size: larger;
} 

#detailsBox {
  padding: 8px 10px 10px 8px;
}

#userAgent {
  margin: 3px 5px;
  background-color: #FFF;
  padding: 1px 0px 1px 2px;
  -moz-appearance: none;
	border-width: 1px;
}

#copyright {
  border-top: solid 1px #eae9be;
	padding-top: 6px;
  text-decoration: underline;
  margin: 0px 0px 3px 16px;
}

#groove {
  margin-top: 0px;
}

#creditsIframe {
  cursor: default;
  -moz-user-select: none;
}

#version {
  margin-left: 15px;
  margin-bottom: 8px;
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  background: url("chrome://browser/skin/version.gif") no-repeat left center;
  color: #888;
  margin: 1em 0px 10px 17px;
}

button[dlgtype="extra2"] {
  margin-left: 13px;
}

button[dlgtype="accept"] {
  margin-right: 13px;
}

