/* ::::: bookmark buttons ::::: */

toolbarbutton.bookmark-item {
  margin: 0;
  min-width: 0;
  max-width: 13em;
  padding: 2px 3px;
  color: #333 !important;
}

toolbarbutton.bookmark-item:not([container="true"]) {
  cursor: default;
  border: 1px solid transparent !important;
}

toolbarbutton.bookmark-item:not([container="true"]):hover {
  -moz-border-top-colors: transparent !important;
  -moz-border-right-colors: transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors: transparent !important;
  text-decoration: underline;
  cursor: pointer;
}

toolbarbutton.bookmark-item:hover:active,
toolbarbutton.bookmark-item[open="true"] {
  padding: 3px 2px 1px 4px;
}

.bookmark-item > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

/* Prevent [mode="icons"] from hiding the label */
.bookmark-item > .toolbarbutton-text {
  display: -moz-box !important;
}

.bookmark-item > .toolbarbutton-menu-dropmarker {
  display: none;
}

.toolbarpaletteitem-box[type="bookmarks-toolbar"][place="palette"] {
  width: 42px;
  height: 42px;
  background: url("chrome://browser/skin/Bookmarks-folder.png") no-repeat;
}

.bookmarks-toolbar-customize {
  display: none;
  max-width: 15em !important;
}

toolbarpaletteitem[place="toolbar"] .bookmarks-toolbar-customize {
  display: -moz-box;
}

toolbarpaletteitem[place="toolbar"] .bookmarks-toolbar-overflow-items {
  visibility: hidden;
}

toolbarpaletteitem[place="toolbar"] .bookmarks-toolbar-items {
  visibility: hidden;
}

/* ::::: bookmark menus ::::: */

menu.bookmark-item,
menuitem.bookmark-item {
  min-width: 0;
  max-width: 26em;
  border-top: 1px solid transparent !important;
  border-bottom: 1px solid transparent !important;
  padding: 1px 3px 1px 2px;
  margin-top: -1px;
}

.bookmark-item > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
}

/* ..... drag and drop styles ..... */

.bookmark-item[dragover-left="true"] {
  -moz-border-left-colors: #333;
}
.bookmark-item[dragover-right="true"] {
  -moz-border-right-colors: #333;
}
.bookmark-item[dragover-top="true"] {
  -moz-border-top-colors: #333;
}
.bookmark-item[dragover-bottom="true"] {
  -moz-border-bottom-colors: #333;
}

/* ::::: bookmark items ::::: */

.bookmark-item	{
  margin: 0px 2px;
  list-style-image: url("chrome://browser/skin/bookmarks/bookmark-item-active.png");
}
.bookmark-item:hover {
}
.bookmark-item:active {
  list-style-image: url("chrome://browser/skin/bookmarks/bookmark-item-active.png");
}

.bookmark-item[container="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/bookmark-folder-closed.png");}
.bookmark-item[container="true"]:hover {
  list-style-image: url("chrome://browser/skin/bookmarks/bookmark-folder-open.png")
}
.bookmark-item[open="true"],
.bookmark-item[container="true"][open="true"] {
  list-style-image: url("chrome://browser/skin/bookmarks/bookmark-folder-open.png")
}

.groupmark-item {
  list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-group.gif") !important;
}
