/* ::::: throbber ::::: */

#navigator-throbber {
  -moz-binding: url("chrome://global/content/widgets/button.xml#button-image");
  -moz-user-focus: ignore;
  margin: 1px 5px 1px 5px;
  border-style: none !important;
  padding: 0px !important;
  min-width: 0px;
  background-color: transparent;
  list-style-image: url("chrome://browser/skin/throbber16-single.gif");
}

#navigator-throbber[busy="true"] {
  list-style-image: url("chrome://browser/skin/throbber16-anim.gif");
}

#navigator-throbber[toolbarmode="small"] {
  list-style-image: url("chrome://browser/skin/throbber16-single.gif");
}

#navigator-throbber[busy="true"][toolbarmode="small"] {
  list-style-image: url("chrome://browser/skin/throbber16-anim.gif");
}


tab[busy] {
  list-style-image: url("chrome://browser/skin/throbber16-anim.gif");
}

.tab-icon {
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

